body {
    background-color:white;
}

.panel-body{
    background-color:#c9cdca;
    color:#5e6465;
    text-align:center;
    font-size:40px;
    letter-spacing:11px;
    font-weight:bold;

}

#cursive{
    font-family: 'Allura', cursive;
    font-size:35px;
    letter-spacing:0px;
    font-weight:normal;

}

#brandColor{
    background-color:#827f80;
    color:white;
}

#propertiesColor{
    background-color:#83bcd9;
    color:white;
}

.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.image{
    position:relative;
    margin:0px;
    width:100%;
}

#pic1Text{
    position:absolute;
    text-align:center;
    top:150px;
    left:0;
    width:100%;
    letter-spacing:3px;
    font-weight:bold;
    
}

.backgroundPic1Text{
    background-color:#444444;
    top:150px;
    left:0px;
    color:white;
    opacity:0.8; 
    font-weight:bold;
}

#pic2Text{
    position:absolute;
    text-align:center;
    top:150px;
    left:0;
    width:100%;
    letter-spacing:3px;
    font-weight:bold;

}

.backgroundPic2Text{
    background-color:#ffffff;
    color:#444444; 
    opacity:0.8;
    font-weight:bold;
}

.nopadding{
   padding: 0px;
   margin: 0px;
}

#pic3Text{
    position:absolute;
    text-align:center;
    top:100px;
    margin-left:45px;
    margin-right:45px;
    letter-spacing:3px;
    font-weight:bold;
    font-size:13px;
}

#arrowPic3{
    height:20px;
    width:30px;
}

#pic4Text{
    position:absolute;
    text-align:center;
    top:100px;
    margin:70px;
    letter-spacing:3px;
    font-weight:bold;
    font-size:13px;
    color:white;
}

#pic4Background{
    background-color:#444444;
    opacity:0.8;
}

#pic5Text{
    position:absolute;
    text-align:center;
    top:100px;
    margin:70px;
    letter-spacing:3px;
    font-weight:bold;
    font-size:13px;
    color:white;
}

#pic5Background{
    background-color:#444444;
    opacity:0.8;
}

#pic6Text{
    position:absolute;
    text-align:center;
    top:100px;
    margin:70px;
    letter-spacing:3px;
    font-weight:bold;
    font-size:13px;
    color:white;
}

#pic6Background{
    background-color:#444444;
    opacity:0.8;
}

.villaPaola{
    position:absolute;
    text-align:center;
    bottom:15px;
    margin-left:35px;
    margin-right:35px;

}

#pic8Text{
    position:absolute;
    text-align:center;
    top:30px;
    margin-left:35px;
    margin-right:35px;
    letter-spacing:3px;
    font-weight:bold;
    font-size:13px;
    color:#444444;
}

#bold8Text{
    font-weight:bolder;
    font-size:15px;
}


#link8{
    border:2px #444444 solid;
    padding:4px;
}

#pic10Text{
    position:absolute;
    text-align:center;
    top:30px;
    margin-left:35px;
    margin-right:35px;
    letter-spacing:3px;
    font-weight:bold;
    font-size:13px;
    color:#444444;
}

#bold10Text{
    font-weight:bolder;
    font-size:15px;
}

#link10{
    border:2px #444444 solid;
    padding:4px;
}

#pic11Text{
    position:absolute;
    text-align:center;
    top:30px;
    margin-left:35px;
    margin-right:35px;
    letter-spacing:3px;
    font-weight:bold;
    font-size:13px;
    color:#444444;
}

#bold11Text{
    font-weight:bolder;
    font-size:15px;
}

#pic13Text{
    position:absolute;
    text-align:center;
    width:100%;
    letter-spacing:3px;
    font-weight:bold;
    background-color: #66cfc0;
    color:white;
    font-size:15px;
    border:1px black solid;
    padding:50px;
}
#customerReview{
    font-size:14px;
}

#customerLink{
    border: 1px black solid;
    color:black;
    padding:1px;
    margin-bottom:1px;
}
#partnerPicture{
    margin:30px auto 10px auto;
}

#footerImage{
    max-width:40px;
    max-height:40px;
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
    float:right;
}








