body {
    background-color:white;
}

.panel-body{
    background-color:#c9cdca;
    color:#5e6465;
    text-align:center;
    font-size:40px;
    letter-spacing:11px;
    font-weight:bold;

}

#cursive{
    font-family: 'Allura', cursive;
    font-size:35px;
    letter-spacing:0px;
    font-weight:normal;

}

#brandColor{
    background-color:#827f80;
    color:white;
}

#propertiesColor{
    background-color:#83bcd9;
    color:white;
}

.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.image{
    position:relative;
    margin:0px;
    width:100%;
}

.img-responsive{
    width:auto;
    height:auto;
    max-height:350px 
}

#pic1Text{
    position:absolute;
    text-align:center;
    top:150px;
    left:0;
    width:100%;
    letter-spacing:3px;
    font-weight:bold;
    
}

.backgroundPic1Text{
    background-color:#444444;
    color:white;
    opacity:0.8; 
    font-weight:bold;
}

#pic2Text{
    position:absolute;
    text-align:center;
    top:150px;
    left:0;
    width:100%;
    letter-spacing:3px;
    font-weight:bold;

}

.backgroundPic2Text{
    background-color:#ffffff;
    color:#444444; 
    opacity:0.8;
    font-weight:bold;
}

#footerImage{
    max-width:40px;
    max-height:40px;
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
}








